In [1]:
%load_ext nb_black
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
print(os.getcwd())

d:\github\coding-academy\courses\data_analysis\d053

In [2]:
drinks = pd.read_csv("../../../../data/drinks.csv")
display(drinks.head())
drinks.info()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     170 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

In [11]:
drinks_pre = drinks.copy()
drinks_pre["continent"] = drinks_pre["continent"].fillna("OT")
drinks_pre.columns = ["country", "beer", "spirit", "wine", "alcohol", "continent"]
drinks_pre.set_index("country")

             beer  spirit  wine  alcohol continent
country
Afghanistan     0       0     0      0.0        AS
Albania        89     132    54      4.9        EU
Algeria        25       0    14      0.7        AF
Andorra       245     138   312     12.4        EU
Angola        217      57    45      5.9        AF
...           ...     ...   ...      ...       ...
Venezuela     333     100     3      7.7        SA
Vietnam       111       2     1      2.0        AS
Yemen           6       0     0      0.1        AS
Zambia         32      19     4      2.5        AF
Zimbabwe       64      18     4      4.7        AF

[193 rows x 5 columns]

In [16]:
drinks_pre.groupby("continent")["spirit"].describe()

           count        mean        std   min     25%    50%     75%    max
continent
AF          53.0   16.339623  28.102794   0.0    1.00    3.0   19.00  152.0
AS          44.0   60.840909  84.362160   0.0    1.00   16.0   98.00  326.0
EU          45.0  132.555556  77.589115   0.0   81.00  122.0  173.00  373.0
OC          16.0   58.437500  70.504817   0.0   18.00   37.0   65.25  254.0
OT          23.0  165.739130  94.993884  68.0  101.00  137.0  190.50  438.0
SA          12.0  114.750000  77.077440  25.0   65.75  108.5  148.75  302.0

In [26]:
a = drinks_pre.groupby("continent")["alcohol"].mean() < drinks_pre["alcohol"].mean()
display(a)
b = a.index[a]
display(b)

continent
AF     True
AS     True
EU    False
OC     True
OT    False
SA    False
Name: alcohol, dtype: bool

Index(['AF', 'AS', 'OC'], dtype='object', name='continent')

In [31]:
drinks_pre.groupby("continent")["beer"].mean().idxmax()

'EU'