In [1]:
%load_ext nb_black
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
print(os.getcwd())

d:\github\learning-py-java-etc\course\d051

In [2]:
drinks = pd.read_csv("../../../data/drinks.csv")
display(drinks.head())
drinks.info()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     170 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

In [3]:
drinks_pre = drinks.copy()
drinks_pre["continent"] = drinks_pre["continent"].fillna("OT").astype("category")
drinks_pre.columns = ["country", "beer", "spirit", "wine", "alcohol", "continent"]
drinks_pre.set_index("country", inplace=True)
display(drinks_pre.head())

             beer  spirit  wine  alcohol continent
country
Afghanistan     0       0     0      0.0        AS
Albania        89     132    54      4.9        EU
Algeria        25       0    14      0.7        AF
Andorra       245     138   312     12.4        EU
Angola        217      57    45      5.9        AF

In [4]:
result1 = drinks_pre.groupby("continent").mean()
display(result1)
display("***answer1***", result1["wine"])

                 beer      spirit        wine   alcohol
continent
AF          61.471698   16.339623   16.264151  3.007547
AS          37.045455   60.840909    9.068182  2.170455
EU         193.777778  132.555556  142.222222  8.617778
OC          89.687500   58.437500   35.625000  3.381250
OT         145.434783  165.739130   24.521739  5.995652
SA         175.083333  114.750000   62.416667  6.308333

'***answer1***'

continent
AF     16.264151
AS      9.068182
EU    142.222222
OC     35.625000
OT     24.521739
SA     62.416667
Name: wine, dtype: float64

In [5]:
result2 = drinks_pre.copy()
result2["total"] = result2[["beer", "spirit", "wine"]].sum(axis=1)
display("***answer2***",result2.head())

'***answer2***'

             beer  spirit  wine  alcohol continent  total
country
Afghanistan     0       0     0      0.0        AS      0
Albania        89     132    54      4.9        EU    275
Algeria        25       0    14      0.7        AF     39
Andorra       245     138   312     12.4        EU    695
Angola        217      57    45      5.9        AF    319

In [6]:
temp = drinks_pre.groupby("continent").mean()["alcohol"] > drinks_pre.mean()["alcohol"]
display(temp, temp.index[temp])
result3 = drinks_pre[drinks_pre["continent"].isin(temp.index[temp])].sort_values("spirit", ascending=False).head()
display(result3)
display("***answer3***",result3.first_valid_index())

C:\Users\YJ\AppData\Local\Temp/ipykernel_10564/3810883583.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  temp = drinks_pre.groupby("continent").mean()["alcohol"] > drinks_pre.mean()["alcohol"]

continent
AF    False
AS    False
EU     True
OC    False
OT     True
SA     True
Name: alcohol, dtype: bool

CategoricalIndex(['EU', 'OT', 'SA'], categories=['AF', 'AS', 'EU', 'OC', 'OT', 'SA'], ordered=False, dtype='category', name='continent')

           beer  spirit  wine  alcohol continent
country
Grenada     199     438    28     11.9        OT
Belarus     142     373    42     14.4        EU
Haiti         1     326     1      5.9        OT
St. Lucia   171     315    71     10.1        OT
Guyana       93     302     1      7.1        SA

'***answer3***'

'Grenada'

In [7]:
result4 = result2.sum()
display(result4)
display("***answer4***",result4.alcohol/result4.total)

C:\Users\YJ\AppData\Local\Temp/ipykernel_10564/3719678665.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  result4 = result2.sum()

beer       20489.0
spirit     15632.0
wine        9544.0
alcohol      910.4
total      45665.0
dtype: float64

'***answer4***'

0.01993649403262893

In [8]:
result5 = result2.groupby("continent").sum()
display(result5)
display("***answer5***",result5.alcohol/result5.total)

           beer  spirit  wine  alcohol  total
continent
AF         3258     866   862    159.4   4986
AS         1630    2677   399     95.5   4706
EU         8720    5965  6400    387.8  21085
OC         1435     935   570     54.1   2940
OT         3345    3812   564    137.9   7721
SA         2101    1377   749     75.7   4227

'***answer5***'

continent
AF    0.031970
AS    0.020293
EU    0.018392
OC    0.018401
OT    0.017860
SA    0.017909
dtype: float64